<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Show Employees</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand " th:href="@{/}">
            <img src="/images/repair-icon.png" width="80" height="80" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navbar-right">
                <a class="nav-item nav-link  " style="font-size: 20px" th:href="@{/}">Home </a>
                <a class="nav-item nav-link " style="font-size: 20px" th:href="@{/owner/showFindForm}">Find Car Owners</a>
                <div sec:authorize="hasAnyRole('ROLE_MANAGER')">
                    <a class="nav-item nav-link  active" style="font-size: 20px" th:href="@{/employee/showAll}">Employee Panel <span class="sr-only">(current)</span></a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <h4>Employee Panel</h4>
    <a th:href="@{/employee/showEmployeePanel}" class="btn btn-secondary btm-sm">Add Employee</a>
    <hr>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Phone Number</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="temEmployee: ${employeeList}">
            <td>
                <a th:href="@{/employee/showProfile(employeeId=${temEmployee.id})}"
                   th:text="${temEmployee.firstName} + ' ' + ${temEmployee.lastName}"/>
            </td>
            <td th:text="${temEmployee.address}"/>
            <td th:text="${temEmployee.city}"/>
            <td th:text="${temEmployee.phoneNumber}"/>
        </tr>
        </tbody>
    </table>
    <hr>
</div>
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2020 Copyright</div>
</footer>
</body>
</html>