<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--BOOTSTRAP-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Login Page</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand " th:href="@{/}">
            <img src="/images/repair-icon.png" width="80" height="80" alt="">
        </a>
    </div>
</nav>
<div class="container">
    <h2>Please Log In</h2>
    <hr>
    <div th:if="${param.error}" class="alert alert-danger col-xs-offset-1 col-xs-10">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}" class="alert alert-success col-xs-offset-1 col-xs-10">
        You have been logged out.
    </div>
    <form action="#" th:action="@{/authenticateUser}" method="post">
        <input type="text" name="username" placeholder="Username" class="form-control mb-4 col-4"/>
        <input type="password" name="password" placeholder="Password" class="form-control mb-4 col-4"/>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
</div>
</body>
</html>