<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Add Form</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand " th:href="@{/}">
            <img src="/images/repair-icon.png" width="80" height="80" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navbar-right">
                <a class="nav-item nav-link  " style="font-size: 20px" th:href="@{/}">Home </a>
                <a class="nav-item nav-link active" style="font-size: 20px" th:href="@{/owner/showFindForm}">Find Car
                    Owners<span class="sr-only">(current)</span></a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <hr>
    <h4>Owner Form</h4>
    <hr>
    <form action="#" th:action="@{/owner/save}" th:object="${owner}" method="post">
        <input type="hidden" th:field="*{id}">
        First Name:<input type="text" th:field="*{firstName}" class="form-control mb-4 col-4" placeholder="First Name">
        Last Name:<input type="text" th:field="*{lastName}" class="form-control mb-4 col-4" placeholder="Last Name">
        Address:<input type="text" th:field="*{address}" class="form-control mb-4 col-4" placeholder="Address">
        City:<input type="text" th:field="*{city}" class="form-control mb-4 col-4" placeholder="City">
        Phone Number:<input type="text" th:field="*{phoneNumber}" class="form-control mb-4 col-4"
                            placeholder="Owner Phone Number">
        Employee:
        <select th:field="*{user.lastName}">
            <th:block th:each="user : ${employee}">
                <option th:value="${user.lastName}" th:text="${user.firstName}+' '+${user.lastName}"/>
            </th:block>
        </select>
        <br>
        <button class="btn btn-secondary btn-sm" type="submit">Save</button>
    </form>
</div>
</body>
</html>