<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Find Owner</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand " th:href="@{/}">
            <img src="/images/repair-icon.png" width="80" height="80" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navbar-right">
                <a class="nav-item nav-link  " style="font-size: 20px" th:href="@{/}">Home </a>
                <a class="nav-item nav-link active" style="font-size: 20px" th:href="@{/owner/showFindForm}">Find Car
                    Owners<span class="sr-only">(current)</span></a>
            </div>
        </div>
    </div>
</nav>


<div class="container">
    <h2>Find Owner</h2>
    <form action="#" th:action="@{/owner/findByLastName}" th:object="${owner}" method="post">
        <input type="text" class="form-control mb-4 col-4" th:field="*{lastName}" placeholder="Last Name">
        <button type="submit" class="btn btn-secondary">Search</button>
    </form>
    <hr>
    <a class="btn btn-secondary btn-sm" th:href="@{/owner/findAll}">Show All</a>
    <a class="btn btn-secondary btn-sm" th:href="@{/owner/add}">Add Owner</a>
</div>

<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2020 Copyright</div>
</footer>
</body>
</html>