<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Owner Profile</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand " th:href="@{/}">
            <img src="/images/repair-icon.png" width="80" height="80" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navbar-right">
                <a class="nav-item nav-link  " style="font-size: 20px" th:href="@{/}">Home </a>
                <a class="nav-item nav-link active" style="font-size: 20px" th:href="@{/owner/showFindForm}">Find Car
                    Owners<span class="sr-only">(current)</span></a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <h4>Owner Profile</h4>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Mobile Phone Number</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:object="${owner}">
            <td th:text="*{firstName}"/>
            <td th:text="*{lastName}"/>
            <td th:text="*{address}"/>
            <td th:text="*{city}"/>
            <td th:text="*{phoneNumber}"/>
            <td>
                <a class="btn btn-secondary btn-sm" th:href="@{/owner/update(ownerId=${owner.id})}">Update</a>
                <a class="btn btn-danger btn-sm" th:href="@{/owner/delete(ownerId=${owner.id})}"
                   onclick="if (!(confirm('Are you sure you want to delete this client?'))) return false">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>
<hr>
<div class="container">
    <h4>Cars</h4>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Brand</th>
            <th>Numbers</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempVehicle:${owner.vehicles}">
            <td th:text="${tempVehicle.brand}"/>
            <td th:text="${tempVehicle.numbers}"/>
            <td th:text="${tempVehicle.status}"/>
            <td>
                <a class="btn btn-secondary btn-sm" th:href="@{/vehicle/update(vehicleId=${tempVehicle.id})}">Update</a>
                <a class="btn btn-danger btn-sm" th:href="@{/vehicle/delete(vehicleId=${tempVehicle.id})}"
                   onclick="if (!(confirm('Are you sure you want to delete this car?'))) return false">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
    <a class="btn btn-secondary btn-sm" th:href="@{/vehicle/add(ownerId=${owner.id})}">Add Car</a>
</div>

<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2020 Copyright</div>
</footer>
</body>
</html>