<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Visit Form</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand " th:href="@{/}">
            <img src="/images/repair-icon.png" width="80" height="80" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navbar-right">
                <a class="nav-item nav-link  " style="font-size: 20px" th:href="@{/}">Home </a>
                <a class="nav-item nav-link active" style="font-size: 20px" th:href="@{/owner/showFindForm}">Find Car
                    Owners<span class="sr-only">(current)</span></a>
                <div sec:authorize="hasAnyRole('ROLE_MANAGER')">
                    <a class="nav-item nav-link" style="font-size: 20px" th:href="@{/employee/showAll}">Employee
                        Panel</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <hr>
    <h4>Visit Form</h4>
    <form action="#" th:action="@{/visit/save}" th:object="${visit}" method="post">
        <input type="hidden" th:field="*{vehicle}"/>
        <input type="hidden" th:field="*{id}"/>
        Description:<input type="text" th:field="*{description}" class="form-control mb-4 col-4"
                           placeholder="Description"/>
        Date: <input type="date" id="visitDate" name="visitDate" th:field="*{date}" class="form-control mb-4 col-4"/>
        <button type="submit" class="btn btn-secondary btn-sm">Save</button>
        <a class="btn btn-danger btn-sm" th:href="@{/visit/delete(visitId=*{id})}"
           onclick="if (!(confirm('Are you sure you want to delete this car?'))) return false">Delete</a>
    </form>
</div>
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2020 Copyright
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout"/>
        </form>
    </div>
</footer>
</body>
</html>